.inline-comment:hover {
  .comment-action {
    display: block;
  }
}

.comment-action {
  display: none;
  position: absolute;
  top: 8px;
  right: 0;
}

.container-action {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}